<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.experiment.parkingsystem.mapper.AdministratorMapper">

    <insert id="insert" parameterType="com.experiment.parkingsystem.entity.Administrator">
        INSERT INTO administrator (admin_id, name, account, password, permission_level)
        VALUES (#{adminId}, #{name}, #{account}, #{password}, #{permissionLevel})
    </insert>

    <select id="findById" resultType="com.experiment.parkingsystem.entity.Administrator">
        SELECT admin_id, name, account, password, permission_level FROM administrator WHERE admin_id = #{adminId}
    </select>

    <select id="findByAccount" resultType="com.experiment.parkingsystem.entity.Administrator">
        SELECT admin_id, name, account, password, permission_level FROM administrator WHERE account = #{account}
    </select>

    <select id="findAll" resultType="com.experiment.parkingsystem.entity.Administrator">
        SELECT admin_id, name, account, permission_level FROM administrator ORDER BY admin_id ASC
    </select>

    <update id="update" parameterType="com.experiment.parkingsystem.entity.Administrator">
        UPDATE administrator
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="password != null">password = #{password},</if>
            <if test="permissionLevel != null">permission_level = #{permissionLevel},</if>
        </set>
        WHERE admin_id = #{adminId}
    </update>

    <delete id="deleteById">
        DELETE FROM administrator WHERE admin_id = #{adminId}
    </delete>

    <select id="existsById" resultType="int">
        SELECT COUNT(*) FROM administrator WHERE admin_id = #{adminId}
    </select>

    <select id="findMaxAdminId" resultType="string">
        SELECT MAX(admin_id) FROM administrator
    </select>

</mapper>