<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.experiment.parkingsystem.mapper.ChargeRecordMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="recordId">
        INSERT INTO charge_record
        (vehicle_id, license_plate, enter_time, exit_time, amount, actual_amount, discount, payment_method, admin_name, create_time)
        VALUES
            (#{vehicleId}, #{licensePlate}, #{enterTime}, #{exitTime}, #{amount}, #{actualAmount}, #{discount}, #{paymentMethod}, #{adminName}, #{createTime})
    </insert>

    <!-- 关联 Vehicle 和 User 表进行复杂条件查询 -->
    <select id="selectList" resultType="com.experiment.parkingsystem.entity.ChargeRecord">
        SELECT cr.*
        FROM charge_record cr
        LEFT JOIN vehicle v ON cr.vehicle_id = v.vehicle_id
        <where>
            <if test="licensePlate != null and licensePlate != ''">AND cr.license_plate LIKE CONCAT('%', #{licensePlate}, '%')</if>
            <if test="vehicleId != null">AND cr.vehicle_id = #{vehicleId}</if>
            <if test="startTime != null">AND cr.enter_time &gt;= #{startTime}</if>
            <if test="endTime != null">AND cr.enter_time &lt;= #{endTime}</if>
            <!-- 业主查询 -->
            <if test="ownerId != null">AND v.owner_id = #{ownerId}</if>
            <!-- 用户查询 -->
            <if test="userId != null">AND v.user_id = #{userId}</if>
        </where>
        ORDER BY cr.create_time DESC
    </select>

</mapper>