<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.experiment.parkingsystem.mapper.DeviceMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="deviceId">
        INSERT INTO device
        (device_no, device_type, installation_location, parking_area, status, create_time, update_time)
        VALUES
            (#{deviceNo}, #{deviceType}, #{installationLocation}, #{parkingArea}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateStatus">
        UPDATE device
        SET status = #{status},
            fault_remark = #{faultRemark},
            update_time = #{updateTime}
        WHERE device_id = #{deviceId}
    </update>

    <select id="selectById" resultType="com.experiment.parkingsystem.entity.Device">
        SELECT * FROM device WHERE device_id = #{deviceId}
    </select>

    <select id="selectList" resultType="com.experiment.parkingsystem.entity.Device">
        SELECT * FROM device
        <where>
            <if test="deviceType != null and deviceType != ''">AND device_type = #{deviceType}</if>
            <if test="status != null and status != ''">AND status = #{status}</if>
            <if test="parkingArea != null and parkingArea != ''">AND parking_area = #{parkingArea}</if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>