<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.experiment.parkingsystem.mapper.OwnerVerificationMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="applicationId">
        INSERT INTO owner_verification_application
            (user_id, name, id_card, address, proof_images, status, create_time)
        VALUES
            (#{userId}, #{name}, #{idCard}, #{address}, #{proofImages}, #{status}, #{createTime})
    </insert>

    <select id="selectLatestByUserId" resultType="com.experiment.parkingsystem.entity.OwnerVerification">
        SELECT * FROM owner_verification_application
        WHERE user_id = #{userId}
        ORDER BY create_time DESC LIMIT 1
    </select>
</mapper>